@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";

.block {
   padding: 50px 15px;
}

.contentbox {
   max-width: 1280px;
   margin: 0 auto;
}

.flex {
   display: flex;
   flex-wrap: wrap;
}
