@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";

$bg: #445162;

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
   @include adaptive-font(30, 30);
   margin-bottom: 30px;
}

h1 {
   @include adaptive-font(57, 57);
   letter-spacing: 0.3px;
   margin-left: -3px;
   margin-bottom: 33px;
}

.container {
   max-width: 1180px;
   margin: 0px auto;
}

.header {
   background-color: $bg;
   color: white;

   &__wrappepr {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: space-between;
      padding: 43px 0px;

      li {
         @include adaptive-font(20, 20);
         line-height: 36px;
         background-image: url("../img/top/check icon.png");
         background-repeat: no-repeat;
         background-position: 0 7px;
         background-size: 25px 19px;
         padding-left: 37px;
         letter-spacing: -0.2px;
      }
   }

   &__img-wrapper {
      width: 470px;
      height: 215px;
      background-color: white;

      img {
         width: 100%;
      }
   }
}

.block1 {
   background-color: white;
   color: $bg;

   &__wrapper {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0px;

      div {
         max-width: 50%;
         p {
            padding-bottom: 20px;
            @include adaptive-font(14, 14);
            line-height: 22px;
         }
         p:last-child() {
            padding-bottom: 0;
         }
      }
   }

   &__img-wrapper {
      min-width: 430px;
      min-height: 245px;
      max-width: 430px;
      max-height: 245px;
      background-color: $bg;

      img {
         width: 100%;
      }
   }
}

.block2 {
   background-color: #f5f5f5;
   color: $bg;

   &__wrapper {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0px;

      h2 {
         width: 100%;
         text-align: center;
      }

      div {
         max-width: 50%;
         margin: -11px;
         padding: 11px;

         p {
            padding-bottom: 35px;
            background-image: url("../img/block/plus_icon.png");
            background-repeat: no-repeat;
            background-position: 0 7px;
            background-size: 25px 25px;
            padding-left: 45px;
            @include adaptive-font(14, 14);
            line-height: 22px;
         }
      }
   }
}

.block3 {
   background-color: white;
   color: $bg;

   &__wrapper {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0px;

      h2 {
         width: 100%;
         text-align: center;
      }
   }

   &__item {
      width: 50%;
   }

   .item {
      display: flex;
      margin: -8px;
      padding: 8px;
      padding-top: 32px;

      &__image {
         min-width: 200px;
         min-height: 152px;
         max-width: 200px;
         max-height: 152px;
         background-color: $bg;
         margin-right: 16px;

         img {
            width: 100%;
         }
      }

      &__text {
         h3 {
            @include adaptive-font(24, 24);
            margin-bottom: 20px;
         }

         p {
            @include adaptive-font(14, 14);
            line-height: 26px;
         }
      }
   }
}

.block4 {
   background-color: #f5f5f5;
   color: $bg;
   padding: 50px 30px;

   &__header {
      text-align: center;
   }

   .flex {
      display: flex;
      flex-wrap: wrap;

      &__item {
         display: flex;
         max-width: 50%;
         margin-top: 28px;
      }

      &__avatar {
         background-color: $bg;
         min-width: 75px;
         min-height: 75px;
         border-radius: 50%;
         align-self: flex-start;
      }

      &__comment {
         background-color: #ebebeb;
         margin-left: 30px;
         margin-right: 35px;
         padding: 14px;
         border-radius: 7px;
         @include adaptive-font(13, 13);
         font-style: italic;
         line-height: 18px;
         position: relative;

         p:first-child {
            padding-bottom: 16px;
         }

         span {
            color: #989898;
         }

         &::before {
            content: url("../img/block/comment_arrow.png");
            position: absolute;
            left: -12px;
            top: 25.5px;
         }
      }
   }
}

.block5 {
   color: $bg;
   padding: 50px 30px;

   &__header {
      text-align: center;
   }

   .flex {
      display: flex;
      justify-content: center;

      &__item {
         background-color: $bg;
         color: white;
         border: 1px solid $bg;
         text-align: center;
         border-radius: 5px;
         width: 300px;
         align-self: flex-end;
         margin-right: 45px;
      }

      &__item:last-child {
         margin-right: 0;
      }

      &__top {
         @include adaptive-font(24, 24);
         padding: 16px;
      }

      &__label {
         background-color: white;
         color: $bg;
         @include adaptive-font(40, 40);
         padding: 16px;
      }

      &__text {
         @include adaptive-font(12, 12);
         text-align: start;
         padding-top: 20px;
         ol {
            margin-left: 36px;
         }
         li {
            list-style: decimal;
            line-height: 24px;
         }
      }

      &__btn {
         padding: 16px;
         button {
            text-transform: uppercase;
            @include adaptive-font(16, 16);
            font-weight: 700;
            color: $bg;
            width: 100%;
            padding: 16px;
            border-radius: 5px;
         }

         button:hover {
            background-color: #f5f5f5;
            box-shadow: 5px 5px rgba($color: #000000, $alpha: 0.3);
         }

         button:active {
            background-color: #989898;
            box-shadow: 5px 5px rgba($color: #000000, $alpha: 0.5);
         }
      }
   }
}

.block6 {
   padding: 50px 30px;
   background-color: $bg;
   color: white;
   text-align: center;

   &__form {
      width: 500px;

      form {
         width: 100%;
         @include adaptive-font(16, 16);
      }

      input {
         width: 100%;
         margin-bottom: 21px;
         padding: 10px 14px;
         border-radius: 5px;
         color: $bg;
      }

      input:focus::placeholder {
         color: transparent;
      }

      textarea {
         width: 100%;
         max-width: 100%;
         margin-bottom: 21px;
         padding: 10px 14px;
         border-radius: 5px;
         color: $bg;
      }

      textarea:focus::placeholder {
         color: transparent;
      }

      button {
         padding: 14px 48px;
         border-radius: 5px;
         text-transform: uppercase;
         font-weight: 700;
         color: $bg;
      }
   }

   &__links {
      width: 300px;

      @include adaptive-font(16, 16);

      .social {
         display: inline-block;
         padding: 0 1px;
         margin-top: 33px;

         img {
            width: 42px;
            height: 42px;
         }
      }

      ul {
         text-align: start;
      }

      .messanger {
         padding-bottom: 10px;
         text-align: initial;
      }

      .messanger:nth-child(1)::before {
         content: url("../img/block/skype_icon.png");
      }

      .messanger:nth-child(2)::before {
         content: url("../img/block/icq_icon.png");
      }

      .messanger:nth-child(3)::before {
         content: url("../img/block/email_icon.png");
      }

      .messanger:nth-child(4)::before {
         content: url("../img/block/phone_icon.png");
      }

      .messanger::before {
         padding-right: 5px;
         position: relative;
         top: 6px;
         height: 28px;
      }
   }

   &__links.flex {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
   }

   .flex {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      div {
         margin: 0 10px;
         padding: 0 -10px;
      }
   }
}

.block7 {
   text-align: center;
   color: $bg;
   @include adaptive-font(12, 12);
   padding: 10px;
}
