@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");

$clrBlue: #5ab8fd;
$clrGrey: #bababa;
$clrNavy: #2d3c72;
$clrWhite: #fff;

$fntComfortaa: "Comfortaa", cursive;
$fntUbuntu: "Ubuntu", sans-serif;

* {
   box-sizing: border-box;
}

html,
body {
   font-family: $fntUbuntu;
   font-weight: 500;
   font-size: 14px;
   color: $clrNavy;
}
.main-wrapper {
   max-width: 980px;
   width: 100%;
   margin: 0 auto;
}
.site-menu {
   display: flex;
   justify-content: space-between;
   .menu-item {
   }
   .shop-description {
      display: flex;
   }
   .site-nav {
      display: flex;
   }
   .nav-item {
   }
}

.catalog-menu {
   display: flex;
   justify-content: flex-end;
   .menu-item {
   }
}

.board {
   max-width: 100%;
   width: 100%;
   max-height: 70vh;
   height: 70vh;
   display: flex;
   justify-content: flex-end;
   .board-offer {
      max-width: 30%;
      width: 30%;
      display: flex;
      align-items: center;
      div {
         position: relative;
         left: 50%;
      }
   }
   .board-image {
      height: 100%;
      flex-grow: 1;
   }
}

.product-offer {
   .product-nav {
      ul {
         display: flex;
         justify-content: space-between;
      }
   }
   .product-slide {
      display: flex;
      justify-content: space-around;
      .item {
         flex-grow: 0;
         flex-shrink: 0;
         .item-image {
            width: 100%;
            height: 100%;
            background-color: gray;
         }
         .item-header {
         }
         .item-description {
         }
         .item-state {
         }
         .item-price {
         }
      }
   }
   .product-slide::before {
      content: "<";
      align-self: center;
   }
   .product-slide::after {
      content: ">";
      align-self: center;
   }
}
