@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #2d3c72;
}

.main-wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-menu .shop-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-menu .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.board {
  max-width: 100%;
  width: 100%;
  max-height: 70vh;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.board .board-offer {
  max-width: 30%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board .board-offer div {
  position: relative;
  left: 50%;
}

.board .board-image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-offer .product-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-offer .product-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-offer .product-slide .item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.product-offer .product-slide .item .item-image {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.product-offer .product-slide::before {
  content: "<";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product-offer .product-slide::after {
  content: ">";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
