@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");

$clrBlue: #5ab8fd;
$clrGrey: #bababa;
$clrNavy: #2d3c72;
$clrWhite: #fff;

$fntComfortaa: "Comfortaa", cursive;
$fntUbuntu: "Ubuntu", sans-serif;
